# Source database (where SAP pushes raw data)
SRC_HOST=100.69.58.98
SRC_PORT=5432
SRC_DATABASE=ptssb
SRC_USER=postgres
SRC_PASSWORD='<password-dari-.env>'
SRC_TABLE=qh3_order

# Target database (MPS2 production DB)
TGT_HOST=100.80.101.53
TGT_PORT=5433
TGT_DATABASE=ptssb
TGT_USER=tag
TGT_PASSWORD='<password-dari-.env>'
TGT_TABLE=qh3_order

# ETL settings
POLL_INTERVAL_SECONDS=5
PLANT_FILTER=5051

python -m venv venv
venv\Scripts\activate
source venv/bin/activate
python -m pip install python-dotenv
python -m pip install python-dotenv psycopg2-binary pandas requests

python etl_order.py